<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fuel Control</title>
</head>
<style>
* {
    font-family:            'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:              100%;
}

h3 {
    font-style:             italic;
    font-size:              30pt;
    text-align:             center;
}

h4 {
    font-size:              20pt;
}
</style>
<body>
    <h3>fuelControl</h3>
    <hr>
    <h4>Tables available:</h4>
    <ul>
        <li><a href="hondaCivic.html">Honda Civic</a></li> 
        <li>Honda Fit</li>
        <li>Honda CR-V</li>
    </ul>
    
    <p>Created by Pedro Honda in September 2018</p>
</body>
</html>